footer {
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: $primary;
    overflow-x: hidden;

    & a {
        text-decoration: none;

        &:hover {
            color: white!important;
        }
    }

    & li {
        list-style-type: none;
    }
}