.paragraphe {
    background: rgba($info, 0.1 );
    box-shadow: 0 8px 24px 0 rgba(black, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 1px);
    transform: translateX(1000px);
    transform-origin: center center 3000px;
    transition: transform 0.7s linear;
    &.apear {
        transform: translateX(0);
    }
   
}