.paragraphe {
    border: 1px solid $light;
    background-color: $light;
    transform: rotateY(90deg);
    transform-origin: center center 3000px;
    transition: transform 2s ease-out; 
    &.apear {
        transform: rotateY(0);
    }
   
}