footer {
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: $primary;
    overflow-x: hidden;
    position: relative;
    z-index: 15;

    & a {
        text-decoration: none;

        &:hover {
            color: white!important;
        }
    }

    & ul {
        padding-left: 1rem!important;
        & li {
            list-style-type: none;
            text-align: left;
    
            & span:first-child {
                font-weight: bold;
                color: $light;
    
            }
        }
    }
}